<!DOCTYPE html>
<html lang="en">
<head><style>
    body{
background: url(https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif);  
background-repeat: no-repeat; 
background-size:100% ; }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>