<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="icon" type="image/x-icon" href="https://cdn.jim-nielsen.com/ios/512/weather-2021-12-07.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECK WEATHER</title>
    <link rel="stylesheet" href="css/weather.css"> <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


    <nav>
        <div class="nav_left"><span>
            <i class="fa-solid fa-fan"></i>
            THE WEATHER APP
            <i class="fa-solid fa-cloud"></i></span>
        </div>
        <div class="nav_right">
            <a href="/"><button>HOME</button></a> 
            <a href="/weather"><button>WEATHER</button></a> 
            <a href="/about"><button>ABOUT</button></a> 
        </div>
    </nav>
    <body>
        <BR><BR><BR></BR></BR></BR>
        <BR><BR><BR></BR></BR></BR></BR>
    <div class="weather-card">
        <div class="weather-header"><br>
            <h2 id="cityName">WEATHER <i class="fa-solid fa-cloud-sun-rain"></i></i></h2>
            <input type="text" id="searchInput" placeholder="Search for a city">
            <button id="searchButton">Search</button>
        </div>
        <div class="weather-body">
            <div class="weather-icon">
                <!-- Weather Icon Here -->
            </div>
            <div class="weather-details">
         <p id="temperature"></p>
            </div>
        </div>
    </div>
    <BR><BR><BR><BR><br><br><br>
    <script src="/expressWeb/public/script/weatherScript.js"></script>
    <footer>Made with <i class="fa-solid fa-heart"></i> By NIKUNJ</footer>
</body>
<script src="/script/weatherScript.js"></script>
</html>
