<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="css/weather.css"> <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="nav_left"><span>
            <i class="fa-solid fa-fan"></i>
            THE WEATHER APP
            <i class="fa-solid fa-cloud"></i></span>
        </div>
        <div class="nav_right">
            <a href="/"><button>HOME</button></a> 
            <a href="/weather"><button>WEATHER</button></a> 
            <a href="/about"><button>ABOUT</button></a> 
        </div>
    </nav>
    <div class="weather-card">
        <div class="weather-header">
            <h2 id="cityName">City Name</h2>
            <input type="text" id="searchInput" placeholder="Search for a city">
            <button id="searchButton">Search</button>
        </div>
        <div class="weather-body">
            <div class="weather-icon">
                <!-- Weather Icon Here -->
            </div>
            <div class="weather-details">
                <p id="temperature">Temperature: 25°C</p>
                <p id="humidity">Humidity: 70%</p>
                <p id="windSpeed">Wind Speed: 10 km/h</p>
            </div>
        </div>
    </div>
    
    <script src="js/weather.js"></script>
    <footer>Made with <i class="fa-solid fa-heart"></i> By NIKUNJ</footer>
</body>
</html>
